body{

    background-color: #FFFF;
    padding-bottom: 60px; 
    font-size: 24px;

}

.logo{
    margin: 1.5rem;
    margin-bottom: 0%;
}
.container {
    text-align: center;
    margin: 50px auto;
  }

.btn-pagamento{
    margin-top: 2rem;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  section{
    margin-top: 2rem;
  }

  .rodape {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
  }