body{
    background-color: #FFFF;

    padding-bottom: 60px; 

}

.veiculo-alugado {
    
    top: 20px;
    right: 20px;
    z-index: 999;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
    /* Responsividade */
    @media (max-width: 768px) {
      position: static;
      margin: 20px auto;
    }
  }

  img {
    width: 100%;
  }

  .logo{
    margin: 1.5rem;
    margin-bottom: 0%;
    width: 40%;
}

/* styles.css */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #28a745; /* Verde */
    color: white;
  }
  
  .btn-danger {
    background-color: #dc3545; /* Vermelho */
    color: white;
  }

  .rodape {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
  }
  